<div style = "background-color:rgba(99,182,171,0.9); border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding-left: 15px; padding-right: 15px; padding-bottom: 15px; padding-top: 10px;">
<h1>As you think, so you become</h1>

<h2>Lead a Life on Purpose. Live a Life by Design.</h2>

<p>Does your life have a purpose? Are you living a life by design? We can live our life either by design, or by chance. Jim Rohn, success and business philosopher, famously said,</p>

<p><em>"If you don't design your own life plan, chances are you'll fall into someone else's plan. And guess what they have planned for you? Not much."</em></p>

<p>By not setting goals, your goal is simply to give up your life to chances and take whatever life happens to you.</p>

<%= image_tag("5-handling-success.jpg",:height => '150', :width => '275', :align => 'right') %>
<h2>The Key Reason between Success and Failure</h2>

<p>Why are some people more successful than others? Why do some people achieve so much in life while others achieve so little?</p> 

<p>When you look closely at successful people in business, sports, art, science, politics, etc., one consistent factor which stands out is that successful people set goals and take action to achieve them on a systematic basis.</p>

<p>Earl Nightingale put it this way, <em>"People with goals succeed because they know where they are going. It's as simple as that."</em></p>

<%= image_tag("surf_pic.jpg",:height => '150', :width => '275', :align => 'left') %><h2>Why To-do Lists and Calendar Don't Work</h2>

<p>The ultimate question is not how much or how little you get done. The question is: Are you working on the right things, things that really get you results?</p>

<p>You can be super productive and cross off a hundred items off your to-do list or calendar in a day, but are you anywhere closer to your goals? It's not about getting things done right, but rather getting the right things done.</p>

<h2>Web-based, Fast and Secure Access</h2>

<p>Life Creator works as an online application, so that you can work on your goals wherever you want, anytime you like. No software to download. Nothing to install, configure and setup. Let us do the hard work. You focus only on your goals. Our fast, secure and easy access will make your goal journey a fun ride to success.</p>
</div>