<div style="margin-bottom:30px">
  <h1 style="float:left">Active Goals</h1>
  <!--%= button_to "Create a New Goal", new_user_goal_path, :id => "btn", :method => :get %-->

  <!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" id="btn" data-toggle="modal">Create a New Goal</a>
  
  <%= render :partial => "modal", :locals => {:user => @user, :goal => @goal} %>

  <!--If invalid input into a modal is saved, the controller redirects it back to this file, adding the parameter modal true. The below shows the modal again if so. Otherwise a button or link click is required-->
	<% if params[:modal] == "true" %>
		<script> 
			$(document).ready(function(){ 
				$('#myModal').modal('show'); 
			});
		</script>
  <% end %>

</div>

<div class="row-fluid">
  <%= render :partial => "list", :locals => {:user => @user, :goal => @goal, :goals => @goals}  %>
</div>  
