/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * For Tablesorter:
 *= require theme.default.css 
 *
 *= require bootstrap-responsive
 *= require bootstrap
 *= require_self
 *= require_tree .

 
 */

body { padding-top: 20px; }

.container {
	width: 960px;
}

h1 {
	font-size: 24px;
	color:white;
	}

h2 {
	font-size: 18px;
	color:white;
	}

input, textarea {
	width: 550px;
}

label {
	font-weight: bold;
	color: white;
}

.row {
	max-width: 960px;
	margin-left: 0px;
}

.span12 {
	margin-left: 0px;
}

table, thead, tbody, td {
	max-width: 940px;
	word-wrap: break-word;
	margin-left: 0px;
}

td {
	max-width: 350px;
	min-width: 20px;
}

p {
	font-weight: bold;
	color: black;
}

button, #goal_btn {
/*	-moz-border-radius: 25%;*/
	border-radius: 3px;
}

.nav {
	margin-bottom: 0px;
}

.nav-tabs > li {
	margin-top: 20px;
	background-color:#f8f7e5;
	font-weight: bold;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.credit {
	color: white;
}

.tablesorter-default, .tablesorter-default th,
.tablesorter-default thead td {
	font-size: 14px;
}

/* ...for the buttons */
button, #btn
{
	display: block;
	font-size: 1.0em;
	font-weight: bold;
	/*text-transform: uppercase;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	text-shadow: 0 -1px 0 #000;
	*/
	float: right;
	margin: auto;
	background-color: #f8f7e5;
	padding: 10px 15px;
	color: #75a5e5;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

button:hover, button:focus, #btn:hover, #btn:focus
{
	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}
	
@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

button:active, #btn:active
{
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}

.alert {
	padding-top: 5px;
	padding-bottom: 5px;
}

