
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <p></p>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <p></p>
      <%= content_tag :div, msg, :id => "flash_#{name}", :style => 'padding-top: 0px;'%>
    </div>
  <% end %>
<% end %>